<header>
    <div id="navbar">
        <div id="navbar1">
            <a href="#" id="akJava">Full Stack Java</a>
            <a href="material">Material available</a>
            <a href="aboutas">About as</a>
            <a href="careers">Careers</a>
            <a id="sup" href="signup">Sign up</a>
            <a id="sin" href="signin">Sign in</a>
            <input type="text" id="search" placeholder="search">
            <button class="btn1">Search</button>
        </div>
    </div>
</header>