<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<span class="material-icons">face</span>
<span class="material-icons">face</span>
<button mat-icon-button type="button">
    <mat-icon>delete</mat-icon>
  </button>

  <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

  <div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
  </div>
  <div matBadge="4" matBadgeOverlap="true" class="demo-section">Text with a badge</div>
